{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
     footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 0px;
    }
        .form-container {
        background-color: #fff;
        border: 2px solid #ccc;
        padding: 20px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    form {
        border: 2px solid #ccc;
        padding: 10px;
        width: 400px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    label {
        display: inline-block;
        width: 300px;
        text-align: left;
        margin-right: 20px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
    }

    .alert {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

</style>

<h2 class="text-center" style="font-family: Georgia;">Register</h2>

<form method="post" style="padding: 20px;">
  {% csrf_token %}
  <label for="username">Username:</label>
  {{ form.username }}
  {% if form.username.errors %}
    <span class="alert alert-danger">{{ form.username.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="first_name">First Name:</label>
  {{ form.first_name }}
  {% if form.first_name.errors %}
    <span class="alert alert-danger">{{ form.first_name.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="last_name">Last Name:</label>
  {{ form.last_name }}
  {% if form.last_name.errors %}
    <span class="alert alert-danger">{{ form.last_name.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="email">Email:</label>
  {{ form.email }}
  {% if form.email.errors %}
    <span class="alert alert-danger">{{ form.email.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="phone_number">Phone Number:</label>
  {{ form.phone_number }}
  {% if form.phone_number.errors %}
    <span class="alert alert-danger">{{ form.phone_number.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="password1">Password:</label>
  {{ form.password1 }}
  {% if form.password1.errors %}
    <span class="alert alert-danger">{{ form.password1.errors.as_text }}</span>
  {% endif %}
  <br>
  <label for="password2">Password confirmation:</label>
  {{ form.password2 }}
  {% if form.password2.errors %}
    <span class="alert alert-danger">{{ form.password2.errors.as_text }}</span>
  {% endif %}
  <br>
  <button type="submit">Register</button>
</form>
{% endblock %}
